<div class="flex flex-col items-center justify-center mt-20 mb-10">
  <h3 class="text-lg mb-4">クーポン券の送信が完了しました</h3>
  <%= link_to "ホームへ戻る", root_path, class: "bg-blue-500 text-white font-bold py-2 px-4 rounded" %>
</div>