<div class="flex flex-col items-center">
  <h1 class="text-3xl font-bold underline">
    Thankyoupon
  </h1>
  <h2>サービス概要</h2>
  <h2>使い方</h2>
  <button class="bg-yellow-300 text-white rounded px-2 py-2">クーポン券を見てみる</button>
  <a href="https://lin.ee/mYViS6T"><img src="https://scdn.line-apps.com/n/line_add_friends/btn/ja.png" alt="友だち追加" height="36" border="0"></a>
  <img src="https://qr-official.line.me/gs/M_255znrwe_GW.png?oat_content=qr">
  <%= link_to "テンプレートクーポン券", template_gifts_path, class: "bg-blue-300 text-white rounded px-2 py-2" %>
  <div id="loggedInMessage" style="display:none;" class="alert">
    ログインしています。
  </div>
  <div id="loggedOutMessage" style="display:none;" class="alert">
    ログインしていません。
  </div>

</div>