<div class="m-2 flex flex-col items-center">
  <h1 class="mb-4">プロフィール</h1>

  <div class="mb-4">
    <% if @user.uploaded_avatar.present? %>
      <%= image_tag @user.uploaded_avatar.url, class: "rounded-full w-32 h-32 object-cover" %>
    <% else %>
      <%= image_tag @user.avatar, class: "rounded-full w-32 h-32 object-cover" %>
    <% end %>
  </div>

  <div class="mb-4">
    <p>ユーザー名: <%= @user.name %></p>
  </div>

  <%= link_to '編集', edit_user_path(@user), class: "bg-blue-300 text-white rounded px-4 py-2" %>
</div>