<footer class="pb-16">
  <div class="flex flex-col items-center">
    <div class="flex space-x-2">
      <!-- <p>利用規約</p>
      <p>プライバシーポリシー</p>
      <p>お問い合わせ</p> -->
    </div>
    <div class='items-center'>
      <p>© 2024 Thankyoupon</p>
    </div>
  </div>
</footer>