<h1>ギフト券一覧</h1>

<div class="flex flex-wrap m-2">
  <% @all_gifts.each do |gift| %>
    <div class="w-1/2 p-2">
      <p><%= image_tag gift.image_url, class: "w-full h-auto" %></p>

      <% if gift.kind_of?(Gift) %>
        <% if current_user.favorite?(gift) %>
          <%= render 'gifts/unfavorite', { gift: gift } %>
        <% else %>
          <%= render 'gifts/favorite', { gift: gift } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>